# safe brew uninstall 
unbrew () {
    local formula
    for formula in "$@"; do
        brew uninstall --force "$formula"
    done
    brew autoremove
}

command_exists() {
  command -v "$@" >/dev/null 2>&1
}


killp() { 
  kill -9 $(lsof -t -i:"$1" -sTCP:LISTEN) 
}