# safe brew uninstall 
unbrew () {
    local formula
    for formula in "$@"; do
        brew uninstall --force "$formula"
    done
    brew autoremove
}

command_exists() {
  command -v "$@" >/dev/null 2>&1
}


killp() { 
  kill -9 $(lsof -t -i:"$1" -sTCP:LISTEN) 
}

.env () {
  set -a
  [ -f .env ] && source .env
  set +a
}

iterm2_print_user_vars() {
  iterm2_set_user_var awsProfile $AWS_PROFILE
  iterm2_set_user_var kubeContext  $(kubectl config current-context)
  iterm2_set_user_var kubeNamespace  $(kubectl config view --minify --output 'jsonpath={..namespace}')
}